.father{
   display: flex;
   width: 100%;
   column-gap: 30px;
    .father-date-history{
        margin-top: 100px; 
        .div-only{
          display: flex;
          .ReactDatePicker{
            margin-top: 7px;
            margin-left: 5px;
          }
        }
        .div-from-to{
          display: flex;
          column-gap: 30px;
          .from-title-input{
            display: flex;
            .ReactDatePicker{
              margin-top: 7px;
              margin-left: 5px;
            }
          }
        }
    }
}

