

.statistic-select-district{
    margin-top: 50px ;
    width: 30%;
}

.father-statistics{ 
   margin-top: 50px;
    .chart-layout{
        background-color: aqua;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        height: 320px;
       .chart-layout-item{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 10%;
        color: aliceblue;
        text-align: center;
        height: var(--percent);
        background-color: red;
       }
    }
    .button{
        background-color: antiquewhite;
    }
}