.father-div-voucheruser{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
            .div-voucheruser{
                display: flex;
                justify-content: center;
                width: 50%;
                margin-top: 20px;
                        .img-voucheruser{
                            width: 70%;
                        }
            }

}