.addNewBrand{
  margin-top: 50px;
}
.div-brand{
    margin-top: 50px;
    .header-brand{
    padding-left: 0px;
    width: 200px;
    height: 200px;
    background-color: rgb(68, 163, 131);
    li{
        height: 50px;
        text-align: center;
        text-decoration: none;
        list-style: none;
        &:hover{
            background-color: rgb(186, 192, 188);
        }
      
          .nav-link{
            color: aliceblue;
            font-size: 20px;
            font-weight: 500;
          }
    }
}
}
