.brand-lotte{

    display: flex;
    .div-title-img-btn{
        margin-left: 30px;

        .title-vouchers{
        margin-left: 400px;
        }
        .btn{
                float: right; 
       
        }
        .img-lotte{
            width: 900px;
        } 
}
}